<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Book My Show">

	<test name="Book My Show Automatic Seat Selection Cucumber" enabled="false">
		<packages>
			<package name="com.sspart.runners"/>
	    </packages>
	</test>
  
  	<test name="Book My Show Automatic Seat Selection TestNG" enabled="true">
		<classes>
			<class name="com.sspart.bookmyshow.BookMyShow"></class>
		</classes>
	</test> 
  
</suite>
